.wrapper{
    display: grid;    
    min-width: 1100px;      /**/
    grid-template-columns: repeat(3,1fr);
    align-self: center;
    padding: 50px 0px 50px 0px;
    
    border: solid 10px white;     /**/
}

.nested_0{
    display: grid;    
    min-width: 327px;
    grid-template-columns: repeat(3,1fr);
    align-self: center;

    border: solid 10px white;     /**/
}

#navbar{
    min-width: 1100px;      /**/
    background-color: blue;
    color: thistle;
}

#navbar ul{
    padding: 0;
    list-style: none;
    list-style: square;
}

#navbar li{
    display: inline;
}

#navbar a{
    color: salmon;
    text-decoration: none;
    font-size: 18px;
    padding-right: 15px;
}

div.Container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

div.Container1{
    min-width: 1100px;      /**/
    margin: auto;
    overflow: hidden;

    border: solid 10px white;     /**/
}

#main-header{
    background-color: seagreen;
    color: snow;
}

body{
    background-image: url(BR_2.jpg);
    background-color: royalblue;
    background-position: top; /**/
    background-size: auto;   
    color: salmon;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    margin: 0;
}

#showcase{
    min-width: 1100px;      /**/
    background-image: url(BR_5.jpg);
    background-color: royalblue;
    background-position: center; /**/
    background-size: cover;   
    color: salmon;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    margin: 0;
    text-align: center;
}

#showcase h1{
    color: black;
    font-size: 50px;
    line-height: 1.6em;
    padding-top: 30px;
}
